
$main-blue: #429eff;
$dark: #1e1e1e;
$white: #ffffff;
$gray: #8496af;
$graylight: #dce7f1;
$bluelight: #eaf5ff;
$font-family: "Inter", sans-serif;

$hover: rgba(#dce7f1, 0.27);
$blue-hover: rgba(#429eff, 0.5);
$hover-stroke: #b5c0cf;

$bg: #f6f7fb;
$bg-disable: rgba(#020b14, 0.75);

$green: #1ab889;
$red: #ff5e5b;
$blue: #429eff;
